<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <meta charset="UTF-8" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">


    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>

<body>  
    <center>
      <div class="home">
        <div class="menu">
             <div class="greenButton">   
                      <a class="button1" href="${pageContext.request.contextPath}login">Pay My Buddy</a>
             </div>
             <div class="hrefs">
                      <a href="#" th:href="@{/home}">Home</a>
                      <a href="#" th:href="@{/transaction}">Transaction</a>
                      <a href="#" th:href="@{/profile}">Profile</a>
                      <a href="#" th:href="@{/contact}">Contact</a>
                      <a href="#" th:href="@{/logout}">Log off</a>
             </div>
        </div>

          <div class="subMenu">
              <a class="aHome" th:href="@{/home}">Home</a>
          </div>

        <div class="send">
             <div class="send-a">
                <a>Wallet's state</a>
            </div>
            <div  th:utext="${wallet}"
                      style="color:#DC7633; font-size:1.3em; font-weight: bold;"></div> €
             <div class="send-b">
                <a  class="button2" href="#" th:href="@{/contact}"> Bank transfer </a>
            </div>
        </div>
          <div th:if="${errorMessage}" th:utext="${errorMessage}"
               style="color:red;font-style:italic;"> </div>
          <div class="createTrans">
              </br>
            <div style="font-size:1.4em; font-weight: bold;">Welcome to your reception area</div>
              <div th:utext="${firstName}"
                   style="color:#DC7633; font-size:1.4em; font-weight: bold;"></div>
          </div>
          <div class="consTrans2">
                <div class="panel-heading" align="left">Last Transactions</div>
                <table class="table">
                    <thead>
                      <tr class="panel-th" >
                        <th width="30%" >Connections</th>
                        <th width="50%">Description</th>
                        <th width="20%">Amount</th>
                    </thead>
                      </tr>
                      <tbody>
                        <tr th:each ="transaction : ${transactions}">
                            <td th:utext="${transaction.beneficiary.email}">...</td>
                            <td th:utext="${transaction.description}">...</td>
                            <td th:utext="${transaction.amount}">...</td>
                        </tr>
                      </tbody>
                </table>
          </div>
          <div class="consTrans2">
              <div class="panel-heading" align="left">Last Transfer</div>
              <table class="table">
                  <thead>
                  <tr class="panel-th" >
                      <th width="30%">Date</th>
                      <th width="50%" >Type</th>
                      <th width="20%">Amount</th>
                  </thead>
                  </tr>
                  <tbody>
                  <tr th:each ="transfer : ${transfers}">
                      <td th:utext="${transfer.createDate}">...</td>
                      <td th:utext="${transfer.type}">...</td>
                      <td th:utext="${transfer.amount}">...</td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="consTrans2">
              <div class="panel-heading" align="left">Last Refund</div>
              <table class="table">
                  <thead>
                  <tr class="panel-th" >
                      <th width="30%" >Payer</th>
                      <th width="50%">Description</th>
                      <th width="20%">Amount</th>
                  </thead>
                  </tr>
                  <tbody>
                  <tr th:each ="refund : ${refunds}">
                      <td th:utext="${refund.payer.email}">...</td>
                      <td th:utext="${refund.description}">...</td>
                      <td th:utext="${refund.amount}">...</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div> 
  </center>
</body>
<footer>
  <Center> 
     <a style="color: #F5CBA7P;"> MyBuddy-Inc - V 0.2 ( 2021 ) </a> 
  </Center>
</footer>

</html>