<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
  <meta charset="utf-8" />
  <title>Inscription</title>
  <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<center>
    <div class="createTrans">
      </br>
      <div class="green">Pay My Buddy</div>
      <br/>
      <br/>
      <legend>Inscription</legend>
      <p>You can register via this form.</p>
    </div>
     <div th:if="${errorMessage}" th:utext="${errorMessage}"
       style=" color:red; font-style:italic ; font-weight: bold; ">... </div>
    <div class="consTrans">
      <form th:action="@{/join}" method="post" >
        <fieldset>
          <div class="form-group">
            <label for="firstName">First name <span class="requis">*</span></label>
            <input type="text"  class="form-control" id="firstName" name="firstName" th:value="${firstName}" size="20" maxlength="20"  minlength="2" required="true" />
          </div>
          <div class="form-group">
            <label for="lastName">Last name <span class="requis">*</span></label>
            <input type="text" class="form-control" id="lastName" name="lastName" th:value="${lastName}" size="20" maxlength="20" minlength="2" required="true"/>
          </div>
          <div class="form-group">
            <label for="email">Email <span class="requis">*</span></label>
            <input type="text" class="form-control" id="email" name="email" th:value="${email}" size="20" maxlength="50" minlength="5" required="true"/>
          </div>
          <div class="form-group">
            <label for="password">Password <span class="requis">*</span></label>
            <input type="password" class="form-control" id="password" name="password" th:value="${password}" size="60" maxlength="60" minlength="10" required="true"/>
          </div>
          <div class="form-group">
            <label for="confirmation">Confirmation Pass <span class="requis">*</span></label>
            <input type="password" class="form-control" id="confirmation" name="confirmation" th:value="${confirmation}" size="60" maxlength="60"  minlength="10"  required="true"/>
          </div>
          <button type="submit" class="btn btn-primary"  onclick="return confirm( 'an account validation email has been sent to you.')">Sign in</button>


        </fieldset>
      </form>
    </div>
  </div>
</center>
</body>
<footer>
</footer>
</html>